* { box-sizing:border-box; font-family:"Trebuchet MS",serif; }
body { margin:0; }

section + section { margin-top:10px; }

#menu > div { display:flex; font-size:0.7em; }
#menu > div:nth-of-type(1) div { flex:1 1 auto; color:white; background-color:#1972a9; }
#menu > div:nth-of-type(1) div:nth-of-type(2) { text-align:right; }
#menu > div:nth-of-type(2) div { flex:1 1 auto; color:white; background-color:#363636; text-align:center; }
#menu > div:nth-of-type(2) div:nth-of-type(1) { padding:5px; background-color:#b84a14; }

#filters { border-radius:10px; padding:5px; background-color:#EEEEEE; }
#filters > div { display:flex; flex-wrap:wrap; align-items:center; }
#filters > div:nth-of-type(1) div { flex:1 1 auto; color:blue; font-weight:bold; }
#filters > div:nth-of-type(1) div:nth-of-type(2) { text-align:right; }
#filters > div:nth-of-type(2) { display:grid; background-color:aliceblue; grid-template-rows:auto auto auto auto; }
#xfilters > div:nth-of-type(2) > div { flex:0 0 250px; display:flex; }
#xfilters > div:nth-of-type(2) > div > div:nth-of-type(1) { flex:0 0 33%; }
#xfilters > div:nth-of-type(2) > div > div:nth-of-type(2) { flex:1 1 auto; }
#filters > div:nth-of-type(3) div:nth-of-type(1) { flex:1 1 auto; }
#filters > div:nth-of-type(3) div:nth-of-type(1) { font-size:0.7em; }
#filters > div:nth-of-type(3) div:nth-of-type(2) { text-align:right; }

#datagrid { border-radius:10px; padding:5px; }
#datagrid > div { display:flex; align-items:center; background-color:#1972a9; color:white; }
#datagrid > div:nth-of-type(1) { display:inline-block; font-weight:bold; padding:5px; border-radius:10px 10px 0 0; }
#datagrid > div:nth-of-type(2) div { flex:1 1 auto; }
#datagrid > div:nth-of-type(2) div:nth-of-type(2) { text-align:right; }
#datagrid table { width:100%; font-size:0.7em; background-color:#EEEEEE; border-collapse:collapse; }
#datagrid table td { border:1px solid lightgrey; }
#datagrid table thead { background-color:#dce4f9; }
#datagrid table tfoot { background-color:#dce4f9; }
